.search-button {
  color: #eef1d3;
  background-color: #211717;
}
.col-8 {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.card {
  height: 150px;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #e2c79e;
}

.forecast-item {
  position: relative;
  left: 120px;
  top: -160px;
  font-size: 80px;
  padding-bottom: 0 auto;
}
.card-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-forecast {
  font-size: 60px;
  display: block;
  text-align: center;
  color: #eef1d3;
  padding: 15px;
}

.weather-forecast .units {
  position: relative;
  top: -34px;
  font-size: 20px;
  font-weight: ;
  text-decoration: none;
}

.weather-forecast .active {
  color: #e2c79e;
  text-decoration: none;
  cursor: default;
}

.weather-forecast .inactive {
  color: #e2c79e;
  text-decoration: none;
  cursor: default;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  color: #e2c79e;
  text-decoration: none;
  cursor: default;
}

.weather-forecast .active:hover {
  text-decoration: none;
}

.city {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  padding-top: 50px;
  color: #48484a;
}
#date {
  color: #48484a;
  margin: -90px auto;
  font-weight: 500;
}

#description {
  color: #48484a;
  margin: 90px auto;
  text-transform: capitalize;
}

.col {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-forecasts {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 600;
  color: #eef1d3;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
  color: #eef1d3;
}

.data-text {
  margin: 5px;
  padding: 10px;
  color: #eef1d3;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.weather-forecast.units. {
  position: relative;
  top: -34px;
  font-size: 20px;
}

.source {
  color: #7645ec;
}
.west {
  text-align: center;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  max-width: 800px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/030/828/original/planeta-terra-iluminada-vista-do-espao-36819.jpeg?1648969492);
}
